# Weather Data Exploration

This notebook explores the weather data collected by the ETL pipeline.

## Setup

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2
from datetime import datetime, timedelta

# Configure plotting
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
%matplotlib inline

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)

## Database Connection

In [2]:
# Database connection parameters
DB_PARAMS = {
    'host': 'localhost',
    'port': 5432,
    'database': 'weather_data',
    'user': 'weather_user',
    'password': 'weather_pass'
}

def get_connection():
    """Create database connection"""
    return psycopg2.connect(**DB_PARAMS)

def query_to_dataframe(query):
    """Execute query and return DataFrame"""
    conn = get_connection()
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

# Test connection
try:
    conn = get_connection()
    print("✅ Database connection successful!")
    conn.close()
except Exception as e:
    print(f"❌ Connection failed: {e}")

✅ Database connection successful!

## Load and Explore Data

In [3]:
query = """
    SELECT * FROM weather_records
    WHERE extraction_date >= CURRENT_DATE - INTERVAL '7 days'
    ORDER BY extraction_date DESC
"""
df = query_to_dataframe(query)
print(f"Total records: {len(df)}")
print(f"Cities: {df['city'].nunique()}")
df.head()

Total records: 28
Cities: 4

C:\Users\Nouman Hafeez\AppData\Local\Temp\ipykernel_23572\2941657267.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

,id,city,latitude,longitude,temperature_celsius,temperature_fahrenheit,humidity,wind_speed,weather_condition,timestamp,extraction_date,created_at
0,28,Tokyo,35.6762,139.6503,10.1,50.18,93.0,2.4,Clear sky,2025-11-28 04:30:00,2025-11-27 19:32:36.962171,2025-11-27 19:32:38.025194
1,27,London,51.5074,-0.1278,13.5,56.30,89.0,16.6,Overcast,2025-11-27 19:30:00,2025-11-27 19:32:36.962171,2025-11-27 19:32:38.025194
2,26,New York,40.7128,-74.0060,6.5,43.70,41.0,21.9,Mainly clear,2025-11-27 14:30:00,2025-11-27 19:32:36.962171,2025-11-27 19:32:38.025194
3,11,New York,40.7128,-74.0060,6.7,44.06,41.0,24.6,Mainly clear,2025-11-27 14:00:00,2025-11-27 19:11:17.005728,2025-11-27 19:11:18.175695
4,13,Tokyo,35.6762,139.6503,11.1,51.98,94.0,2.3,Clear sky,2025-11-28 04:00:00,2025-11-27 19:11:17.005728,2025-11-27 19:11:18.175695